.col-12
  .card
    .card-body
      .row
        .col-8
          %h5.card-title= catalogue.name
        .col-4.text-right
          %button.js--edit-button.btn.btn-warning.btn-sm{type: 'button', 'data-toggle' => 'modal', 'data-target' => '#editCatalogueModal', 'data-id' => catalogue.id}
            %i.far.fa-edit
          %button.js--delete-catalogue-button.btn.btn-danger.btn-sm{type: 'button', 'data-id' => catalogue.id}
            %i.far.fa-trash-alt
